<div class="ratings-container">
    <div class="header">
        <h2>Exchange Ratings:</h2>
    </div>
    <div class="content">
        <div class="group">
            <span>GBP: </span>
            <span>446.32</span>
        </div>
        <div class="group">
            <span>USD: </span>
            <span>334.85</span>
        </div>
        <div class="group">
            <span>EUR: </span>
            <span>394.29</span>
        </div>
        <div class="group">
            <span>RUB: </span>
            <span>5.69</span>
        </div>
        <div class="group">
            <span>JPY: </span>
            <span>2.95</span>
        </div>
    </div>
</div>