<div class="sidenav-container">
    <div class="header">
        <h2>haha</h2>
        <button mat-mini-fab (click)="escape()"><mat-icon>keyboard_arrow_left</mat-icon></button>
    </div>
    <mat-list>
        <mat-list-item>
            <mat-icon mat-list-icon>edit</mat-icon>
            <h4 mat-line>Edit Profile</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-icon mat-list-icon>settings</mat-icon>
            <h4 mat-line>Settings</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>